.users{
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    margin : 20px;
 }
 .user{
     width: 350px;
     height: 40px;
     display: flex;
     margin-left: 8px;
     margin-right: 8px;
     flex-direction: column;
     border: 1px solid rgb(14, 12, 12);
     padding-top: 2rem;
     padding-bottom: 3rem;
     text-align: center;
     list-style: none;
     overflow: hidden;
}

 
 .row{
     display: flex;
     justify-content: space-between;
     margin-bottom: 40px;
 }

